

body {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
}

.ubu-font {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
}

.anton-font {
    font-family: Anton;
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 60px;
    text-transform: uppercase;
    color: #000;
}

.fs-16 {
    font-size: 16px;
}

.fs-90 {
    font-size: 90px;
}
    