
@import '../../scss/mixins';
@import '../../scss/placeholders';


@include device('>small-screen') {
    side-menu {
        display: none;
    }
}

@include device('<small-screen') {
    .list {
        display: none;
    }
}

.side-menu-icon {
    width: 45px;
    height: 55px;
}


ul {
    font-weight: 500;
}

span {
    margin: auto;
}
