<div class="header">
    <div class="container">

        <div class="flex items-center w-50p">
            <logo style="height: 45px;" [fillColor]="'black'"></logo>
        </div>
       


        <ul class="list w-50p">
            <li> <span class="active">Home</span> </li>
            <li> <span>About Us</span> </li>
            <li> <span>What We Do</span> </li>
            <li> <span>Contact Us</span> </li>
        </ul>


        <side-menu class="flex relative"></side-menu>

    </div>
</div>