
<div class="head">
    <div class="container pr-0">

        <div animateIn class="flex-col justify-center max-w-500 pb-50 pt-50">
            <h1>
                Never Caught <br>
                Off-Guard Again
            </h1>
    
            <h4>
                We are specialist in protecting your assets and reputation to make sure you operate risk-free and focus on your core business.
            </h4>
    
            <div><button class="button mt-15">Learn More</button></div>
        </div>

        <div class="max-w-650">
            <img src="../../assets/space-helmetf 2.png" style="width:100%;" alt="">
        </div>

    </div>
</div>


<div animateIn  class="container pb-50">

    <div class="item pb-15">

        <h3 class="pb-0"><span>3.5</span> Billions</h3>

        <h4 class="pt-0">Preventive measurements implemented <br>
            (cost reduction, loss of envestment).
        </h4>

    </div>

    <div class="item pb-15">

        <h3 class="pb-0"><span>25+</span> Years</h3>

        <h4 class="pt-0">Of experience in minimizing risk <br>
            and protecting assets.
        </h4>

    </div>

    <div class="item pb-15">

        <h3 class="pb-0"><span>1.5</span> Billions</h3>

        <h4 class="pt-0">Of experience in minimizing risk <br>
            and protecting assets
        </h4>

    </div>

</div>