
%ubu-font {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
}

%anton-font {
    font-family: Anton;
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 60px;
    text-transform: uppercase;
    color: #000;
}


h1 {
    @extend %anton-font;
    margin: 0;
    font-size: 68px;
    line-height: 130%;
    padding: 15px;
}

h2 {
    @extend %anton-font;
    margin: 0;
    font-weight: 400;
    font-size: 50px;
    line-height: 75px;
    padding: 15px;

}

h3 {
    @extend %ubu-font;
    margin: 0;
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
    padding: 15px;


}

h4 {
    @extend %ubu-font;
    margin: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    padding: 15px;


}

h5 {
    @extend %ubu-font;
    margin: 0;
    font-size: 16px;
    padding: 15px;
}