
.w-50p {
    width: 50%;
}

.w-60 {
    width: 60px;
}

.max-w-350 {
    max-width: 350px;
}

.max-w-500 {
    max-width: 500px;
}

.max-w-600 {
    max-width: 600px;
}

.max-w-650 {
    max-width: 650px;
}

.max-w-1230 {
    max-width: 1230px;
}