

<div class="container pb-50 pt-50 mb-100">

    <div animateIn class="max-w-600">

        <h2><span class="yellow">WHO WE</span> ARE</h2>

        <h4>
            With our global footprint and our specialized team members and partners we know what it takes to make sure that we can deliver a minimum risk environment for our clients.
        </h4>

        <h4>
            We know that timing is key, when to accelerate and when to slow down. Having our clients brand top of mind, we make sure that communication, teamwork and quality reports is a given.
        </h4>

        <h3>
            A team dedicated to protect your assets and reputation:
            <br>
        </h3>

        <h4>
            <circle-svg></circle-svg>
                Of experience in minimizing risk and protecting assets
        </h4>
        <h4 class="pt-0">
            <circle-svg></circle-svg>
                Of experience in minimizing risk and protecting assets
        </h4>

    </div>

    <div class="image">

        <img id="we3" src="../../../assets/shadow 1.png" class="shadow-1"  alt="">
    </div>

    <div class="shadow"></div>

</div>