
<div class="container pb-50">
    <h2><span class="yellow">WHAT WE</span> DO</h2>
</div>


<div class="container">
    <div class="items pb-50 flex">

        <div class="item pl-15 pr-15">
    
            <div class="flex pt-50 pb-50 items-center h-100">
                <div class="text-center bg-grey-l border-12 yellow w-60 h-60">
                    <h3 class="line-h-60 p-0">1</h3>
                </div>
    
                <h3>Training and <br> Implementation</h3>
            </div>
    
    
            <div class="pb-20 card flex-col overflow-h bg-blue-l border-30 relative items-center">
    
                <img animateIn [animateInAnimation]="punchingBag" class="z-1 absolute" src="../../assets/2.png" alt="">
    
                <div class="pl-15 z-2 mt-auto white flex justify-between mr-auto">
                   <h5>Read More</h5>
    
                   <arrow class="flex"></arrow>
                </div>
            </div>
        </div>
    
    
        <div class="item pl-15 pr-15">
    
            <div class="flex pt-50 pb-50 items-center h-100">
                <div class="text-center bg-grey-l border-12 yellow w-60 h-60">
                    <h3 class="line-h-60 p-0">2</h3>
                </div>
    
                <h3>Cyber <br> Consultants</h3>
            </div>
    
    
            <div class="pb-20 card flex-col overflow-h bg-blue-l border-30 relative items-center">
    
                <img animateIn [animateInAnimation]="phone" class="absolute top-190" src="../../../assets/iPhone-12-Mockup 1.png" alt="">
    
                <div animateIn [animateInAnimation]="message1" id="message1" class="message ">
                    <img class="icon" src="../../assets/image 19.png" alt="">
                    <div class="time">1 min ago</div>
                    <div id="text1" class="text">I brought you <br> something interesting</div>
                </div>

                <div animateIn [animateInAnimation]="message2" id="message2" class="message ">
                    <img class="icon" src="../../assets/image 18.png" alt="">
                    <div class="time">today</div>
                    <div id="text2" class="text">Pss. Some secret info <br> for you!</div>
                </div>

                <div class="pl-15 z-2 mt-auto white flex justify-between mr-auto">
                   <h5>Read More</h5>
    
                   <arrow class="flex"></arrow>
                </div>
            </div>
        </div>
    
    
        <div class="item pl-15 pr-15">
    
            <div class="flex pt-50 pb-50 items-center h-100">
                <div class="text-center bg-grey-l border-12 yellow w-60 h-60">
                    <h3 class="line-h-60 p-0">3</h3>
                </div>
    
                <h3>Consultancy and <br>brand protection</h3>
            </div>
    
    
            <div class="pb-20 card flex-col overflow-h bg-blue-l border-30 relative items-center">
    
                <img animateIn [animateInAnimation]="animateTop"  class="absolute" src="../../../assets/peeled-banana-2 1.png" alt="">
    
                <div class="pl-15 z-2 mt-auto white flex justify-between mr-auto">
                   <h5>Read More</h5>
    
                   <arrow class="flex"></arrow>
                </div>
            </div>
        </div>
    
    
        <div class="item pl-15 pr-15">
    
            <div class="flex pt-50 pb-50 items-center h-100">
                <div class="text-center bg-grey-l border-12 yellow w-60 h-60">
                    <h3 class="line-h-60 p-0">4</h3>
                </div>
    
                <h3>Software</h3>
            </div>
    
    
            <div class="pb-20 card flex-col overflow-h bg-blue-l border-30 relative items-center">
    
                <img animateIn [animateInAnimation]="animateTop"  class="absolute top-50" src="../../assets/macbook-mockup 1.png" alt="">
    
                <div class="pl-15 z-2 mt-auto white flex justify-between mr-auto">
                   <h5>Read More</h5>
    
                   <arrow class="flex"></arrow>
                </div>
            </div>
        </div>
    
    </div>
</div>


<div class="container justify-center pt-50 pb-50 mb-100 max-w-1230">
    <div class="flex">
        <button class="bg-yellow white mr-20 button">Our Services</button>
        <button class="b-yellow bg-white yellow button">Contact Us</button>
    </div>
</div>