

<div class="credits">
    <div class="container flex grey-l1 line-h-160p">
    

            <div class="item-1 flex-col pb-100">

                <div class="flex items-center w-50p pb-15">
                    <logo style="height: 45px;" [fillColor]="'#7d7d7d'"></logo>
                </div>

                <h5>
                    We are specialist protecting your assets and reputation to make <br>
                    sure you operate risk-free and focus on your core business.
                </h5>

                <h5>
                    <span class="white">Address:</span>  <br>
                    Hobbemakade 29, 1071 XK, Amsterdam, Netherlands
                </h5>

                <h5>
                    <span class="white">E-mail:</span>  <br>
                    safeguard_help@gmail.com
                </h5>

            </div>


            <div class="item-2 pb-100">
                <ul class="flex-col">
                    <li> <h3 class="white p-0">Main</h3> </li>
                    <li><span>Home</span></li>
                    <li><span>About Us</span></li>
                    <li><span>Our history</span></li>
                    <li><span>Contact Us</span></li>

                </ul>
            </div>

            
            <div class="item-3 pb-100">
                <ul class="flex-col">
                    <li> <h3 class="white p-0">Services</h3> </li>
                    <li><span>Training and Implementation</span></li>
                    <li><span>Cyber Consultants</span></li>
                    <li><span>Consultancy and brand protection</span></li>
                    <li><span>Software</span></li>

                </ul>
            </div>   


    </div>
</div>