<label class="pointer nav-icon">
    <input type="checkbox" id="nav-check" (click)="onMenuToggle()">
    <span class="span1"></span>
    <span class="span2"></span>
    <span class="span3"></span>
</label>


<div id="side-menu">

    <div class="container flex-col pt-50 pb-20">
        <ul class="flex-col pb-30">
            <li>
                <h3>Home</h3>
            </li>
            <li>
                <h3>About Us</h3>
            </li>
            <li>
                <h3>What we do</h3>
            </li>
            <li>
                <h3>Contact Us</h3>
            </li>
        </ul>

        <ul class="flex-col">
            <li>
                <h3 class="services">Services</h3>
            </li>
            <li>
                <h3>Training and <br> Implementation</h3>
            </li>
            <li>
                <h3>Cyber Consultants</h3>
            </li>
            <li>
                <h3>Consultancy and <br> brand protection</h3>
            </li>
            <li>
                <h3>Software</h3>
            </li>
        </ul>
    </div>

</div>