


<div class="bg-yellow">
    <div class="container pt-100 pb-100 flex-col">

        <div class="max-w-600">

            <h2>WHY WE</h2>

            <h4 animateIn>
                A team dedicated to protect your assets and reputation. With
                our global footprint and our specialized team members and
                partners we know what it takes to make sure that we can
                deliver a minimum risk environment for our clients.
            </h4>

        </div>

        <div animateIn class="flex flex-wrap">

            <div class="square m-15 py-40 bg-white text-center border-12">

                <h3 class="p-0 fs-90 yellow line-h-100">25+</h3>
                <h3 class="p-0 mb-5">years of experience</h3>
                <h5 class="p-0 grey">In handling legal issues.</h5>

            </div>

            <div class="square m-15 py-40 bg-white text-center border-12">

                <h3 class="p-0 fs-90 yellow line-h-100">230+</h3>
                <h3 class="p-0 mb-5">signature strategies</h3>
                <h5 class="p-0 grey">Developed for our clients.</h5>

            </div>

            <div class="square m-15 py-40 bg-white text-center border-12">

                <h3 class="p-0 fs-90 yellow line-h-100">145</h3>
                <h3 class="p-0 mb-5">corporate clients</h3>
                <h5 class="p-0 grey">We helped thus far.</h5>

            </div>

            <div class="square m-15 py-40 bg-white text-center border-12">

                <h3 class="p-0 fs-90 yellow line-h-100">30</h3>
                <h3 class="p-0 mb-5">employees working</h3>
                <h5 class="p-0 grey">For your legal security.</h5>

            </div>

        </div>

    </div>
</div>
